@font-face {
    font-family: 'eraserregular';
    //src: url('fonts/Eraser/EraserRegular-webfont.eot');
    //src: url('fonts/Eraser/EraserRegular-webfont.eot?#iefix') format('embedded-opentype'),
    src: url('fonts/Eraser/EraserRegular-webfont.woff') format('woff');
    //url('fonts/Eraser/EraserRegular-webfont.ttf') format('truetype'),
    //url('fonts/Eraser/EraserRegular-webfont.svg#eraserregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rudiment';
    //src: url('fonts/Rudiment/rudiment-webfont.eot');
    //src: url('fonts/Rudiment/rudiment-webfont.eot?#iefix') format('embedded-opentype'),
    src: url('fonts/Rudiment/rudiment-webfont.woff') format('woff');
    //     url('fonts/Rudiment/rudiment-webfont.ttf') format('truetype'),
    //     url('fonts/Rudiment/rudiment-webfont.svg#rudimentmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
