@font-face {
    font-family: 'eraserregular';
    src: url('fonts/Eraser/EraserRegular-webfont.eot');
    src: url('/fonts/Eraser/EraserRegular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Eraser/EraserRegular-webfont.woff') format('woff'),
    url('fonts/Eraser/EraserRegular-webfont.ttf') format('truetype'),
    url('fonts/Eraser/EraserRegular-webfont.svg#eraserregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rudiment';
    src: url('fonts/Rudiment.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
