@import "fonts.less";
@import "bootstrap/less/bootstrap.less";
@import "bootstrap-variables.less";

body {
    background: url(../img/chalk.jpg) no-repeat center center fixed;
    background-size: cover;
}

#about-me {

    @chalk: rgba(220, 220, 220, 0.8);

    .container();

    font-family: 'rudiment', Helvetica, Arial, sans-serif;
    color: @chalk;
    font-size: 22px;

    a {
        color: @chalk;

        &:hover {
            text-decoration: none;
        }
    }

    h1, h2, h3, h4 {
        font-family: "eraserregular", Helvetica, Arial, sans-serif;
    }
    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 52px;
    }

    .baltimore-graphic {
        .make-sm-column-offset(2);
        .make-sm-column(4);
        img {
            height: 280px;
        }
    }
    .baltimore-text {
        .make-sm-column-offset(2);
        .make-sm-column(4);
        font-size: 40px;
    }
    .tech-graphic {
        .make-sm-column-offset(2);
        .make-sm-column(4);
    }
    .tech-text {
        .make-sm-column(6);
        font-size: 28px;

        .parenthetically {
            font-size: 20px;
        }
    }
}
