@import "fonts.less";
@import "bootstrap/less/bootstrap.less";
@import "bootstrap-variables.less";

body {
    background: url(../img/chalk.jpg) no-repeat center center fixed;
    background-size: cover;
}

#about-me {
    h1 {
        font-family: "eraserregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}
