<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Johnathan Gilday is a Baltimore based software engineer and this is his personal page">
    <meta name="author" content="Johnathan Gilday <me@johnathangilday.com>">
    <meta name="viewport" content="width=device-width">
    
    <title>JohnathanGilday.com</title>
    
    <link rel="stylesheet" href="{{ asset('css/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
</head>
<body>
    <div class="container">
        <header>
        <div class="header">
            <h1>Johnathan Gilday</h1>
            <div class="navigation">
                <ul>
                    <li><a href="{{ url('resume') | noindexhtml }}">Resume</a></li>
                </ul>
            </div>
        </div>
        </header>
        <main>
        <div class="section">
            <div class="section-text">
                <h2>Application security tools made daily in Baltimore, MD at <a href="http://contrastsecurity.com/">Contrast Security</a></h2>
                <ul class="education">
                    <li><abbr title="Bachelor of Science">B.S.</abbr> Computer Science, Rutgers University</li>
                    <li><abbr title="Master of Science">M.S.</abbr> Computer Science, Johns Hopkins University</li>
                </ul>
            </div>
            <div class="section-graphic">
                <img src="img/baltimore-chalk.png" alt="Baltimore">
            </div>
        </div>
        <div class="section">
            <div class="section-graphic">
                <img src="img/java-chalk.png" alt="Specializing in JVM technologies">
            </div>
            <div class="section-text">
                <h2>Specializing in</h2>
                <ul>
                    <li>Web <span class="parenthetically">(Angular, webpack, LESS, Bootstrap, Jasemine)</span></li>
                    <li>JVM based services <span class="parenthetically">(Scala, Java, Akka, JAX-RS, Jackson, JUnit, Mockito, Guice, Spring)</span></li>
                    <li>Data Persistence Technologies <span class="parenthetically">(Berkeley DB, JPA, MongoDB)</span></li>
                    <li>Automation <span class="parenthetically">(Ansible, bash, Maven, Git, Jenkins)</span></li>
                    <li>Android mobile apps</li>
                </ul>
            </div>
        </div>
        <footer>
        <div class="footer">
            <ul>
                <li><a href="https://github.com/gilday" aria-label="GitHub">{% include "_github.svg" %}</a></li>
                <li><a href="https://twitter.com/jdgilday" aria-label="Twitter">{% include "_twitter.svg" %}</a></li>
                <li><a href="https://www.facebook.com/johnathan.gilday" aria-label="Facebook">{% include "_facebook.svg" %}</a></li>
                <li><a href="mailto:me@johnathangilday.com" aria-label="E-Mail">{% include "_envelope.svg" %}</a></li>
            </ul>
        </div>
        </footer>
        </main>
    </div>
</body>
</html>
