<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Johnathan Gilday is a Baltimore based software engineer and this is his personal page">
    <meta name="author" content="Johnathan Gilday <me@johnathangilday.com>">
    <meta name="viewport" content="width=device-width">
    
    <title>Johnathan Gilday</title>
    
    <link rel="stylesheet" href="{{ asset('css/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <header>
        <div class="header">
            <h1>Johnathan Gilday</h1>
            <div class="row navigation">
                <ul>
                    <li><a href="{{ url('resume') | noindexhtml }}">Resume</a></li>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Email</a></li>
                </ul>
            </div>
        </div>
        </header>
        <main>
        <div class="section">
            <div class="section-text">
                <h2>Software made daily in Baltimore, MD at <a href="http://nextcentury.com/">Next Century Corporation</a></h2>
                <ul class="education">
                    <li><abbr title="Bachelor of Science">B.S.</abbr> Computer Science, Rutgers University</li>
                    <li><abbr title="Master of Science">M.S.</abbr> Computer Science, Johns Hopkins University</li>
                </ul>
            </div>
            <div class="section-graphic">
                <img src="img/baltimore-chalk.png" alt="Baltimore">
            </div>
        </div>
        <div class="section">
            <div class="section-graphic">
                <img src="img/java-chalk.png" alt="Specializing in JVM technologies">
            </div>
            <div class="section-text">
                <h2>Specializing in</h2>
                <ul>
                    <li>Web <span class="parenthetically">(AngularJS, RequireJS, Grunt, LESS, Bootstrap, Jasemine)</span></li>
                    <li>JVM based services <span class="parenthetically">(Scala, Java, Akka, JAX-RS, Jackson, JUnit, Mockito, Guice, Spring)</span></li>
                    <li>Data Persistence Technologies <span class="parenthetically">(Berkeley DB, JPA, MongoDB)</span></li>
                    <li>Automation <span class="parenthetically">(Ansible, bash, Maven, Git, Jenkins)</span></li>
                    <li>Android mobile apps</li>
                </ul>
            </div>
        </div>
        </main>
    </div>
</body>
</html>
