<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Web resume for Johnathan Gilday, software engineer">
    <meta name="author" content="Johnathan Gilday <me@johnathangilday.com>">

    <title>Resume - Johnathan Gilday</title>
    
    <link rel="stylesheet" href="{{ asset('css/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('css/resume.css') }}">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <header>
    <div class="header">
        <h1>Johnathan Gilday</h1>
        <p><a href="mailto:me@johnathangilday.com">me@johnathangilday.com</a></p>
        <p>Boring, standard, one-page PDF resume available <a href="https://drive.google.com/open?id=0B9eH1qcLQxi-eHZURnJOQ2xHQnc">here</a></p>
    </div>
    </header>
    <div class="timeline">
        <section>
            <h2>2017 - Now</h2>
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Contrast Security</h3>
                </div>
                <div class="event-body">
                    <div class="photo">
                        <img alt="Contrast Security's office at Natty Boh Tower in Baltimore" src="{{ asset('img/resume/boh-tower.jpg') }}">
                    </div>
                    <p>In March 2016 I left Next Century to join Contrast
                        Security: an application security start-up in Baltimore.
                        Contrast is an exciting start-up to work for because
                        their product has a unique approach to detecting and
                        preventing vulnerabilities by instrumenting customers'
                        applications at runtime. On previous projects at Next
                        Century, I developed an appreciation for devops
                        workflows and automating everything; Contrast's product
                        introduces security to these workflows in a way other
                        tools do not. At Contrast, I work on scaling our backend
                        product, building cloud native data analytics, our
                        automated test and release pipeline, and our Java agent
                        product.</p>
                </div>
            </article>
        </section>
        <section>
            <h2>2012 - 2017</h2>
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>New Project</h3>
                </div>
                <div class="event-body">
                    <p>In September 2016, I started a new project! I spent several weeks finishing an Angular 1.x single page app built with webpack. Next, I did some devops work using Ansible to configure a set of OpenStack VMs with a suite of docker containers integrated with docker-compose. Lately, I have been working on replacing a legacy service with a Node.js app</p>
                </div>
            </article>

            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Tech Talk on Container-less Java Services</h3>
                </div>
                <div class="event-body">
                    <div>
                        <iframe src="//slides.com/gilday/container-less-java-services/embed?style=light" width="390" height="300" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <p>In July 2016, I volunteered to present Container-less Java Services at Next Century's developer tech talk series. After working with Akka's "microkernel" and deploying a web project to Heroku for school, I became increasingly interested in Java services which run without the aid of an app server, so I was happy to share this with my colleagues. Slides available on <a href="http://slides.com/gilday/container-less-java-services">slides.com/gilday/container-less-java-services</a></p>
                </div>
            </article>

            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Completed M.S. Computer Science at JHU</h3>
                </div>
                <div class="event-body">
                    <p>Spring 2016 I completed my M.S. Computer Science at Johns Hopkins University Engineering for Professionals school with a concentration in Web and Enterprise Computing.</p>
                    <p>Coursework includes:</p>
                    <ul>
                        <li>Agile Software Development Methods</li>
                        <li>Enterprise Computing with Java</li>
                        <li>Big Data Processing Using Hadoop</li>
                        <li>Mobile Application Development for the Android Platform</li>
                        <li>System Development, UNIX Environment</li>
                        <li>Artificial Intelligence</li>
                    </ul>
                    <!-- TODO the following line is a hack that creates more whitespace on this article so that the subsequent article will float in the right space. This should not be necessary -->
                    <p>&nbsp;</p>
                </div>
            </article>

            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>More Next Century Projects</h3>
                </div>
                <div class="event-body">
                    <p>Next Century affords me many opportunities to migrate between projects and gain a variety of experience with secure system development. I've worked on several projects including a suite of cross-domain solutions, a customer collection filtering system, and an enterprise data service.</p>
                    <p>While supporting these projects, some notable components I worked on include</p>
                    <ul>
                        <li>Cloud infrastructure automation with OpenStack and Ansible</li>
                        <li>User log analysis with Apache NiFi</li>
                        <li>Backend services in Python and Go</li>
                        <li>A Web dashboard written with AngularJS and D3</li>
                        <li>Java and Scala web services serving data from Berkeley DB JE</li>
                        <li>Scaling and tuning a Cassandra cluster</li>
                    </ul>
                </div>
            </article>
        </section>
        <section>
            <h2>2010 - 2012</h2>
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Goodbye Army, Hello Next Century</h3>
                </div>
                <div class="event-body">
                    <img src="{{ asset('img/resume/next-century-selfie.jpg') }}" alt="Me at Next Century's HQ" width="392">
                    <p>In winter 2012, I left my CERDEC family to start a new chapter with <a href="http://nextcentury.com">Next Century Corporation</a> as a Senior Software Engineer. Next Century is an exciting place to work and truly prides itself on its commitment to its values and purpose. Currently, I'm part of the agile development team for the open source <a href="https://owfgoss.org">Ozone Widget Framework</a> project.</p>
                </div>
            </article>
            
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Began studying at JHU</h3>
                </div>
                <div class="event-body">
                    <p>In Fall 2012, I enrolled in Johns Hopkins University's Engineering Program for Professionals where I can study towards my Masters degree part time. I am studying Computer Science again with a concentration in Software Enginnering. I enjoy the software engineering process and the complex problems it aims to solve so I'm looking forward to my coursework.
                </div>
            </article>
            
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>TacMark Published</h3>
                </div>
                <div class="event-body">
                    <p>During my time at CERDEC, I led the design and development effort for the Army's Tactical Marketplace (TacMark). TacMark is a web based system capable of delivering software, configuration, and data to soldiers' mobile devices. The TacMark prototype successfully demonstrated how a modular software marketplace is flexible enough to keep up with the rapid pace of the mobile device landscape and ensure that soldiers' mobile devices stay mission-ready.</p><p>CERDEC's public affairs office put us in touch with the Army Times to talk about the Tactical Marketplace platform we built. You can check out the public article <a href="http://www.armytimes.com/news/2012/07/army-platform-orders-via-smartphones-062512/">here</a></p>
                </div>
            </article>
            
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>CERDEC Software Development Workshop</h3>
                </div>
                <div class="event-body">
                    <div class="photo">
                        <img alt="TDD presentation slide" src="{{ asset('img/resume/tdd-slide.png') }}">
                    </div>
                    <p>I siezed an opportunity to speak to my colleagues at CERDEC's Software Development Workshop. I spoke about Test Driven Development; a software development process I have grown fond of using. After a quick talk about TDD, its benefits, and what the process looks like, I demonstrated to the audience an example where I added a new feature to an API the TDD way. The US Army is notoriously guilty of death by PowerPoint, so I took a page from <a href="http://www.slideshare.net/jessedee">Jessee Dee</a> and tried to make my slides stand out. I haven't adapted the slides to read well without my soundtrack, but I'll post them when they're cleared for release.</p>
                </div>
            </article>
            
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Graduated from Rutgers University</h3>
                </div>
                <div class="event-body">
                    <div class="photo">
                        <img alt="graduation photo" src="{{ asset('img/resume/graduation.jpg') }}">
                    </div>
                    <p>Graduated with the last class of Rutgers College (now School of Arts and Sciences) with a B.S. in Computer Science and a minor in Economics (GPA 3.3). Started my full time position with US Army CERDEC immediately afterward and moved to Baltimore, MD within a year to follow CERDEC.</p>
                </div>
            </article>
        </section>

        <section>
            <h2>2008 - 2010</h2>
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Co-authored paper for Army Science Conference</h3>
                </div>
                <div class="event-body">
                    <div class="photo">
                        <img alt="COMET demonstration photo" src="{{ asset('img/resume/comet-publicrelease.jpg') }}">
                    </div>
                    <p>I <a href="http://www.dtic.mil/cgi-bin/GetTRDoc?AD=ADA503423" title="Army Science Conference paper">co-authored a paper</a> with my teammates for the 2008 Army Science Conference. The paper describes a research effort we undertook to develop a multi-touch, multi-user system to facilitate face to face collaboration in a command and control environment. This research effort was a good experience for me: I got to work closely with a lot of smart engineers on the prototype pictured here; I also worked closely with the users to develop the application layer and make adaptations based on their immediate feedback. I learned a lot about what it takes to make simple, intuitive user interfaces. In 2010, our team received CERDEC's Employee of the Year award (team category)</p>
                </div>
            </article>
            
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Associate Online Editor, Daily Targum</h3>
                </div>
                <div class="event-body">
                    <p><a href="http://www.dailytargum.com">The Daily Targum</a> is Rutgers University's official student newspaper and the second oldest student newspaper in the United States. While at Rutgers, I started working at the Online desk  helping to publish the paper's articles online and bring new, exclusive online content to DailyTargum.com. During my time at the Targum, the paper's Online desk expanded and my peers elected me to fill the newly formed Associate Online Editor position.</p>
                </div>
            </article>
        </section>

        <section>
            <h2>2006 - 2008</h2>
            
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Field Technician, Rutgers OIT</h3>
                </div>
                <div class="event-body">
                    <div class="photo">
                        <img alt="Rutgers SWAT t-shirt" src="{{ asset('img/resume/rutgers-swat.jpg') }}">
                    </div>
                    <p>During my sophomore year, I worked as a field technician for the Rutgers University Office of Information Technology. I was sent to students' dorms to troubleshoot connectivity issues with the Rutgers network. I don't love troubleshooting IT issues, so I was happy to leave this job and move on to The Daily Targum</p>
                </div>
            </article>
            
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Began studying at Rutgers University</h3>
                </div>
                <div class="event-body">
                    <p>Began studying for my B.S. in Computer Science at Rutgers University in New Brusnwick, NJ. Before starting school, I accepted the Dr. Joseph Frank Scholarship Award for students studying computer science from AFCEA. </p><p>Coursework I completed at Rutgers includes </p><ul><li>Data Structures</li><li>Software Methodology</li><li>Discrete Structures</li><li>Principles of Information and Data Management</li><li>Design and Analysis of Computer Algorithms</li><li>Artificial Intelligence</li><li>Computer Architecture</li><li>Computer Security</li></ul>
                </div>
            </article>
            
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Certified CompTIA Security+</h3>
                </div>
                <div class="event-body">
                    <div class="photo">
                        <img alt="CompTIA award with Mrs. G" src="{{ asset('img/resume/comptia.jpg') }}">
                    </div>
                    <p>In high school, I was fortunate enough to have access to interesting technology electives. One of the electives, taught by the fantastic Mandy Galante, prepped my classmates and me for the CompTIA Security+ exam which I passed at the end of the semester. Thanks to Mrs. Galante nominating me, I also received the CompTIA Merit Award from the CompTIA Educational Foundation.</p>
                </div>
            </article>
        </section>

        <section>
            <h2>2002 - 2006</h2>
            
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Began internship at CERDEC</h3>
                </div>
                <div class="event-body">
                    <div class="photo">
                        <img src="{{ asset('img/resume/cerdec.jpg') }}">
                    </div>
                    <p>In the summer of 2005, as an incoming high school senior, I started my internship at US Army Communications Electronics Research and Development Engineering Center. I returned to CERDEC each break I had from school until I graduated college and accepted a full time position at CERDEC. My mixture of academic study and apprenticeship (and later employment) at CERDEC has been an invaluable experience.</p>
                </div>
            </article>
            
            <article class="event">
                <span class="arrow"></span>
                <div class="heading">
                    <h3>Began my formal computer science training</h3>
                </div>
                <div class="event-body">
                    <p>In 2002, I began my formal computer science training as a freshman at Red Bank Regional High School. I enrolled in a program RBR HS called the Academy of Information Technology which put me on a track to IT and programming electives each semester until graduation. My graduation class was the last to be taught Pascal in our introduction to programming class (I believe it's all Java now).</p>
                </div>
            </article>
        </section>
    </div>
</div>
</body>
</html>
